<footer>
    <div class="container">
        <div class="col col-xs-12 col-sm-6 col-lg-3">
            <h5>Navigation</h5>
            <hr>
            <nav>
                <ul>
                    <li>
                        <a target="_blank" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a target="_blank" href="#about">About</a>
                    </li>
                    <li>
                        <a target="_blank" href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-xs-12 col-sm-6 col-lg-3" style="float: right">
            <h5>Resources</h5>
            <hr>
            <ul>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=579862.416&type=3&subid=0">IT
                        Courses</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.416&type=3&subid=0">
                </li>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=145238.10000683&type=3&subid=0">IT
                        eBooks</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.10000683&type=3&subid=0">
                </li>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.23&type=3&subid=0">Hosting</a><img
                        border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.23&type=3&subid=0">
                </li>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.23&type=3&subid=0">Cheap
                        Domain Names</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.23&type=3&subid=0">
                </li>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.4&type=3&subid=0">Anti-DDoS
                        Service</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.4&type=3&subid=0">
                </li>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.6&type=3&subid=0">Cloud
                        Database</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.6&type=3&subid=0">
                </li>
                <li>
                    <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.6&type=3&subid=0">Cloud
                        CDN</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.6&type=3&subid=0">
                </li>
                <li>
                    <a target="_blank" href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.7&type=3&subid=0">Shop
                        Security</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.7&type=3&subid=0">
                </li>
            </ul>
        </div>
        <div class="col col-xs-12 col-sm-6 col-lg-3">
            <h5>Information</h5>
            <hr>
            <ul>
                <li>
                    <a target="_blank" href="https://esstudio.site/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                    <a target="_blank" href="https://esstudio.site/terms-of-service">Terms of Service</a>
                </li>
                <li>
                    <p class="copy-right affiliate">&copy; 2018 Sem Postma All rights Resved.
                </li>
            </ul>
        </div>
        <div class="col col-xs-12 col-sm-6 col-lg-3">
            <h5>Social</h5>
            <hr>
            {% include social.html %}
        </div>
    </div>
</footer>

<noscript>
    <div id="noscript-modal" class="modal" role="dialog" aria-expanded="true">
        <div class="modal-content">
            <h2>Important!</h2>
            <p class="noscript-msg">
                This website requires javascript.
                <br>
                <a target="_blank" href="https://www.enable-javascript.com/" target="_blank">
                    You can find instructions on how to enable javascript here.</a>
            </p>
        </div>
    </div>
</noscript>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.12/bootstrap-native.min.js"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}" type="text/javascript"></script>